/* tablet styling */
@media screen and (max-width:867px){
   
    .wrapper{
        width: 90%;
    }
    nav{
        top: 1rem;
    }
    nav > h3{
        font-size: 1.8rem;
        margin-right: 10%;
    }
    p{
        font-size: 1.125rem;
    }
    .dropDownContent{
        left: -4rem;
    }
    .header_content{
        flex-direction:column-reverse;
        justify-content: center;
        row-gap: 1rem;
    }
    .header_content .right{
        width: 15rem;
        height: 15rem;
    }
    .header_content .left{
        text-align: center;
    }
    .intro br{
        display: none;
    }
   .intro{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .header_content .left p{
        margin-bottom: 1rem;
        line-height: initial;
    }
    .header_content .left p br{
        display: none;
    }
    
    .headerBtns{
        justify-content: space-evenly;
    }
   
    /* another section */
    .allSkills{
        grid-template-columns: 48% 48%;
    }
    /* another section */
    .project{
        padding: 2rem 1rem 4rem 1rem;
    }
    .allProject{
        grid-template-columns: 75%;
    }
    /* another section */
   
    .contactPage{
        flex-direction: column;
        align-items:flex-start;
    }
    .contactPage .left{
        width: 90%;
        padding-bottom: 3rem;
    }
    .contactPage .right{
        width: 75%;
    }
  
    .starrp{
        left: 0%;
    }
    .star1{
        bottom: -20%;
        right: 0%;
    }
    .contactField input, .contactField textarea{
        font-size: 1.3rem;
    }
   
    .statusMessage{
        min-width: 50%;
    }
    footer{
        margin-top: 100px;
    }
    .project, .contactPage,.skills{
        margin-bottom: 70px;
    }
    .projectImage img{
        height: 18rem;
    }
}
/* mobile styling */
@media screen and (max-width:475px) {

    .wrapper{
       width: 95%;
    }
    p{
        font-size: 1rem;
    }
    span{
        font-size: 0.875rem;
    }
 
    nav{
        flex-wrap: wrap;
        row-gap: 10px;
        text-align: center;
        justify-content: center;
    }
    nav > h3{
        width: 100%;
        margin-right: 0;
        font-size: 1.4rem;
    }

    .dropDownContent{
        left: -4rem;
    }
  
   .intro{
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
    .header_content .left p{
        margin-bottom: 10px;
    }
   
    .header_content{
        row-gap: 1.2rem;
    }
    .specialBtn{
        min-width: 140px;
    }
    /* another section */
    .allSkills{
        grid-template-columns: 95%;
    }
    /* another section */
   
    .allProject{
        grid-template-columns: 100%;
    }
    .eachProject > div{
        width: 95%;
    }
    /* another section */
    .contactPage{
        align-items: center;
        margin-bottom: 5rem;
    }
    .contactPage .right{
        width: 90%;
    }

    .header_content .right{
        height: 13rem;
        width: 13rem;
    }
    .fixedImage1{
        left: 0%;
        top: 5%;
        height: 100%;
    }
   
    .statusMessage{
        min-width: 80%;
    }

    i{
        font-size: 1.2rem;
    }
    .opacBg{
        background-size: contain;
        background-position: center;
    }
    footer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .headerBtns{
        flex-wrap: wrap;
        justify-content: center;
    }
    .projectImage img{
        height: 15rem;
    }
}
/* very small gadget */
@media screen and (min-width: 0px) and (max-width: 340px){
    .headerBtns{
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    .dropDownContent{
        left: -7rem;
    }
    .header_content .right{
        margin-top: 3rem;
    } 
    
}
/* large desktop styling */
@media screen and (min-width: 869px) and (max-width: 1200px){
    nav > h3{
        margin-right: 30%;
    }
    .header_content .right {
        height: 16rem;
        width: 16rem;
    }
    .intro{
        font-size: 2.5rem;
    }
    .dropDownContent{
        left: -4rem;
    }
    .project{
        padding: 2rem 1rem 4rem 1rem;
    }
    .contactField input, .contactField textarea{
        font-size: 1.3rem;
    }
}
/* ultra large desktop */
@media screen and (min-width: 1201px) and (max-width: 1500px){
    .header_content .right {
        height: 17rem;
        width: 17rem;
        margin-top: 3rem;
    }
    nav > h3{
        margin-right: 40%;
    }
    .intro{
        font-size: 3rem;
    }
    html{
        font-size: 90%;
    }
}
@media screen and (max-width:867px) and  (orientation: landscape){
    .header_content .right {
        height: 16rem;
        width: 16rem;
        margin-top: 3rem;
    }
    
}