/* tablet styling */
@media screen and (max-width:55em){
    html{
        font-size: 50%;
    }
    .header_content::after{
        background-position: center;
    }
    .wrapper{
        width: 90%;
    }
    .starrp{
        left: 0;
    }
    .star1{
        right:0;
    }
   .header_content{
        flex-direction: column-reverse;
        justify-content: center;
   }
   .header_content .profileImage{
        margin-bottom: 3rem;
   }
   .header_content .left p br, .intro br{
        display: none;
    }
    .header_content .left p{
        font-size: 2rem;
    }
    .header_content .left{
        text-align: center;
    }
    .intro{
        letter-spacing: 0px;
        font-size: 3.5rem;
    }
    .dropDownContent{
        left: -8rem;
    }
    .headerBtns{
       justify-content: center;
    }
    nav{
        gap: 2rem;
        top: 1rem;
    }
    i{
        font-size: 2.8rem;
    }
    .dropDownContent{
        min-width: 120px;
    }
    .allSkills{
        grid-template-columns: 48% 48%;
    }
    .allProject{
        grid-template-columns: 85%;
    }
    .contactPage{
        grid-template-columns: 85%;
        gap: 3rem;
    }
    .contactField{
        margin-bottom: 2rem;
    }
    .message{
        margin-top: 4rem;
    }
    form input, form textarea{
        font-size: 2.2rem;
    }
    input::placeholder, textarea::placeholder{
        font-size: 1.8rem;
    }

}
/* mobile styling */
@media screen and (max-width:30em) {
    .wrapper{
       width: 95%;
    }
    .header_content .left{
        width: 100%;
    }
    .intro{
        font-size: 3.2rem;
    }
    .header_content .left p{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .header_content .profileImage{
        width: 25rem;
        height: 25rem;
        margin-top: 2rem;
    }
    .allSkills{
        grid-template-columns: 100%;
    }
    .allProject{
        grid-template-columns: 100%;
    }
    nav{
        flex-wrap: wrap;
        justify-content: center;
        gap: 2px;
        top: 5px;
    }
    nav h1{
        width: 100%;
        text-align: center;
    }
    footer{
        flex-direction: column;
        justify-content: center;
    }    
    .contactPage{
        grid-template-columns: 90%;
    }
    .headerBtns{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .headerBtns > *:first-child{
        position: relative;
        left: -2rem;
    }
    .headerBtns >*:nth-child(2){
        position: relative;
        left: 3rem;
    }
    .projectImage{
        height: 250px;
    }
    .contactField span{
        font-size: 1.8rem;
    }
    .skills, .project, .contactPage{
        margin-bottom: 100px;
    }
}
/* very small gadget 340px*/
@media screen and (min-width: 0px) and (max-width: 22em){
    .headerBtns{
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    .dropDownContent{
        left: -7rem;
    }
    .header_content .projectImage{
        margin-top: 3rem;
    } 
    .header_content .left p{
        font-size: 1.4rem;
        font-weight: 600;
    }
}
/* large desktop styling 869-1200 */
@media screen and (min-width: 55em) and (max-width:75em ){
    .wrapper{
        width: 90%;
    }
    html{
        font-size: 50%;
    }
    .dropDownContent{
        left: -150%;
    }
    .contactPage{
        grid-template-columns: 45% 45%;
    }
}
/* ultra large desktop */
@media screen and (min-width: 75.1em) and (max-width: 94em){

    html{
        font-size: 56.25%;
    }
    .dropDownContent{
        left: -100%;
    }
}
@media screen and (max-width:55em) and  (orientation: landscape){
    .header_content .right {
        height: 16rem;
        width: 16rem;
        margin-top: 3rem;
    }
    
}